body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(36, 39, 41);
    /* align-items:center; */
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/4706201.jpg");
    background-color: rgb(36, 39, 41);
    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {

    /* Half height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1{
    display: block;
    height: 90%;
    /* Center and scale the image nicely */

}
::selection {
    background-color: #c3cfe2;
}
H1 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #ffee00 0%, #2904d1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top_p {
    font-size: 1.7rem;
    height: 0%;
    margin-bottom: 0%;
    text-align: center;
    color: #999999;
}

.contact {
    display: inline-block;
    position: relative;
    top: -15%;
    left: 50%;
    text-align: center;
    margin-top: 15px;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 50%;
}


    .contact ul{
        
        display: inline-block;
        position: relative;
        align-items: center;
        list-style: none;
    }
    .contact ul li {
        width: 75px;
        height: 75px;
        line-height: 75px;
        margin: 0 10px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 5px solid #272727;
        float: left;
        transition: all 0.5s ease;
      }
      i{
        color: #272727;
      }
    .contact ul li .fa {
        color: #272727;
        margin-top: 20px;
        transition: all 0.5s ease;
      }
    .contact   ul li:hover.discord {
        border: 5px solid #3b5998;
        box-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
      }
      .contact ul li:hover .fa-discord {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
      }  
      .contact ul li:hover.instagram {
        border: 5px solid #bc2a8d;
        box-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
      }
      
      .contact ul li:hover .fa-instagram-square {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
      }
      .contact ul li:hover.github {
        border: 5px solid  #ffbe33;
        box-shadow: 0 0 15px #ffbe33;
        transition: all 0.5s ease;
      }
      
      .contact ul li:hover .fa-github {
        color:  #ffbe33;
        text-shadow: 0 0 15px #ffbe33;
        transition: all 0.5s ease;
      }
      .contact ul li:hover.linkedin {
        border: 5px solid #2aa1bc;
        box-shadow: 0 0 15px #2aa1bc;
        transition: all 0.5s ease;
      }
      
      .contact ul li:hover .fa-linkedin {
        color: #2aa1bc;
        text-shadow: 0 0 15px #2aa1bc;
        transition: all 0.5s ease;
      }
 @media screen and (max-width: 640px){
    .contact {
            position: relative;
            margin-top: 30%;
            left: 50%;
            align-items: center;
            transform: translate(-50%, -50%);
        width: 350px;
    }
    .contact ul li{
        margin-top: 25px;
    }
  }
  @media screen and (max-width: 340px){
    .contact {
        position: relative;
        margin-top: 30%;
        left: 50%;
        align-items: center;
        transform: translate(-50%, -50%);
    width: 350px;
}
    .contact ul li{
        margin:15px;
    }
}
@media screen and (max-width: 320px){
    .contact {
        position: relative;
        margin-top: 40%;
        left: 50%;
        align-items: center;
        transform: translate(-50%, -50%);
    width: 350px;
}
    .contact ul li{
        margin:15px;
    }
}
  button{
    margin-left: 30px;
    border-radius: 2em;
    background-color: #272727;
    border-bottom: none;
    border-color: #272727;
  }
  .nav-item :hover{
    border-radius: 2em;
    border-bottom: none;
    border-color: aliceblue;
    background-color: aliceblue;
  }
  .loading_wrap{
    position:fixed; 
    height:100%; 
    width:100%; 
    overflow:hidden; 
    top:0; 
    left:0;
}